
// *** Primary color:

color_1_0 = #CB3802 
color_1_1 = #FE7E4F 
color_1_2 = #F6561B 
color_1_3 = #A62D00
color_1_4 = #7C2200 

// *** Secondary color (1):

color_2_0 = #CB7402 
color_2_1 = #FEB24F 
color_2_2 = #F6961B 
color_2_3 = #A65E00 
color_2_4 = #7C4600 

// *** Secondary color (2):

color_3_0 = #095082 
color_3_1 = #3A77A3 
color_3_2 = #1A679D
color_3_3 = #05416B 
color_3_4 = #033050 

// *** Complement color:

color_4_0 = #018C4D 
color_4_1 = #36B079 
color_4_2 = #12AA65 
color_4_3 = #00733F
color_4_4 = #00562F 
